@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?ehjytq');
    src:  url('../fonts/icomoon.eot?ehjytq#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?ehjytq') format('truetype'),
      url('../fonts/icomoon.woff?ehjytq') format('woff'),
      url('../fonts/icomoon.svg?ehjytq#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }  
body {
    background-color: #F6F6F6;
}
.w {
    width: 1250px;
    margin: 0 auto;
}
.nav {
    position: fixed;
    background-color: #FFFFFF;
    z-index: 2;
}
.nav .header {
    text-align: center;
    width: 1700px;
    height: 66px;
    line-height: 66px;
    margin-left: 100px;
    background-color: #FFFFFF;
}
/* 首页log部分 */
.nav .log {
    float: left;
    margin-left: 70px;
    width: 81px;
    height: 42px;
    line-height: 42px;
}
.nav .log img {
    width: 100%;
    height: 100%;
}
/* 导航栏部分 */
.header-nav {
    float: left;
    padding-left: 10px;

}
.header-nav ul li{
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 42px;
}
.header-nav ul li a {
    font-size: 15px;
    color: #8590a6;
}
.header-nav ul li a:hover {
    color: #121212;
}
/* .nav .header .search {
    float: left;
    width: 528px;
    height: 45px;
    line-height: 45px;
    padding-left: 20px;
    border-radius: 15px;
    background-color: #F6F6F6; 
} */
.nav .header .search {
    position: relative;
    float: left;
    padding-left: 25px;
    line-height: 42px;
    width: 480px;
    height: 34px;
}
.nav .header .search input {
    float: left;
    width: 480px;
    height: 34px;
    font-size: 14px;  
    line-height: 34px;
    padding-left: 18px;
    border-radius: 17px;
    background-color: #F6F6F6; 
}
.nav .header .search input:focus{
    background-color: #FFFFFF;
    border: 1px solid #121212;
}
/* 去掉搜索框自带的叉号 */
input::-ms-clear {
    display:none;
}

/* 引入字体图标即放大镜图标 */
/* .nav .header .search::after {
    font-family: 'icomoon';
    content: '\e986';
    position: absolute;
    right: 4px;
    font-size: 16px;
} */
.nav .header .search button {
    font-family: 'icomoon';
    position: absolute;
    top: 10px;
    right: 5px;
    font-size: 14px;
    border: none;
    background-color: transparent;
    outline: none;   
}
.nav .header .search button:hover {
    color: #0066FF;
}
.login a{
    display: block;
    float: left;
    margin-left: 96px;
    width: 78px;
    height: 38px;
    text-align: center;
    font-size: 14px;
    line-height: 38px;
    color: #0066FF;
    border-radius: 5px;
    border: 1px solid #0066FF;
}
.login a:hover {
    display: block;
   background-color: rgb(221, 229, 241);

}
.joinus a {
    display: block;
    float: left;
    margin-left: 18px;
    width: 105px;
    height: 38px;
    text-align: center;
    font-size: 14px;
    line-height: 38px;
    color: #FFFFFF;
    border-radius: 5px;
    background-color: #0066FF;
}
.joinus a:hover {
    display: block;
    background-color: #025ee9;
}
/* 圆桌推荐模块 */
.list-item {
    position: relative;
    top: 84px;
    height: 4000px;
    background-color:  #FFFFFF;
}
.list-item .list-header {
    height: 70px;
    border-bottom: 1px solid #ccc;
}
.list-item .list-header span {
    float: left;
    line-height: 70px;
    margin-left: 20px;
    font-weight: 600;
    color: #121212;
    font-size: 15px;
}
.list-item .list-header .hold {
    float: right;
    margin-right: 20px;
    line-height: 70px;
}
.list-item .list-header .hold a {
    font-weight: 600;
    color: #0066FF;
    font-size: 15px;
}
.list-item .recommend {
    margin-top: 22px;
}
.list-item .recommend ul li {
    float: left;
    padding: 0 32px;
    margin-bottom: 50px;
    
    font-size: 14px;
}
.list-item .recommend ul li a i{
    display: block;
    color: #8590A6;
    margin-top: 5px;
}
.list-item .recommend ul li a {
    display: block;
    position: relative;
    width: 248px;
    height: 246px;
}

.list-item .recommend ul li a img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    filter: contrast(60%);
    /* filter滤镜属性，让图片变暗 100%为亮度不变*/
}
.list-item .recommend ul li a img:hover {
    transform: scale(1.02);
}
/* 图片上的字体设置 */
.list-item .recommend ul li a span {
    display: block;
    position: absolute;
    float: left;
    bottom: 34px;
    left: 10px;
    color: #FFFFFF;
    font-size: 16px;
}